/*default css*/

body,html{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
     user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
} 
    
body { 
    font-family: 'Nunito Sans', sans-serif;
    background: #f5f5f5;
    color: #212121;     
}  

.heading, .sub_heading, .main_heading, .poppins_font,
h1, h2, h3, h4, h5, h6 {
	font-family: 'Poppins', sans-serif;
}

.main-heading {
  	text-align: center;
	color: #eb3941;
	margin-bottom: 20px;
	font-weight: 200;
	text-transform: uppercase;
  
}

/***************************Header CSS Start*****************************/

.svg-inline--fa.fa-phone.fa-w-16 {
    transform: rotateZ(102deg);
}

div.city_select {
	width: 150px;
	margin: 17px 0px 15px 60px;
	display: inline-block;
	box-shadow: 0px 3px 5px -4px rgba(0,0,0,0.7);
}

div.city_select .custom-select {
	border: none;
}


.header_btn_wr {
        display: inline-block;
}
 
.header_btn_wr .btn {
	display: inline-block;
	margin: 10px 0 10px 5px;
}
 
.header_btn_wr .btn.btn-secondary {
    margin-left: 20px;
}

.header_menus .navbar.navbar-expand-lg {
	float: right;
	padding: 0;
}

.header_menus .nav-link {
        font-weight: 600;
        padding: 28px !important;
        line-height: 24px;
        color: #ffffff;
}

.header_menus .nav-item.show .nav-link,
.header_menus .nav-link:hover{
        color: #FFC75F;
}

.header_menus .active a.nav-link {
        color:#eb3941; 
}  

.header_menus .nav-item .dropdown-menu {
        top: 90px !important;  
        padding: 5px 0;
        border-radius: 3px;
        box-shadow: 0 0px 45px #ccc;
        border: none;
}

.header_menus .nav-item div.dropdown-menu::after {
	display: block;
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #fff;
	top: -10px;
	left: 15px;
}

.header_menus .dropdown-item {
	padding: 7px 15px;
	font-size: 14px;
	line-height: 18px;
}
a.nav-link.dropdown-toggle {
    width: 103%;
}

  
/*Banner*/ 
.banner {
	margin-top: 80px;

	background-color: #30a9f4;
	background-image: linear-gradient(to bottom, #007bff, #0087ff, #0092ff, #009cff, #00a6ff, #00a6ff, #00a6ff, #00a6ff, #009cff, #0092ff, #0087ff, #007bff);
}
   
#social_icon ul {
    margin: 0px 20px;
    text-align: center;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

#social_icon ul li {
	background-color: #fff;
	width: 20%;
	float: left;
    color: #fff;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
        margin:0px;
}

#social_icon ul li a {
	height: 40px;
	line-height: 40px;
        color:#fff !important;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
}

#social_icon li#facebook{
    background-color: #fff;
}

#social_icon li#youtuble{
    background-color:#fff;   
}

#social_icon li#twitter{
    background-color:#00acec;   
}

#social_icon li#instagram{
    background-color:#527fa4;   
}

#social_icon ul:hover li {
    	width: 18%;
}

#social_icon ul li:hover {
	width: 28%;
    color: #fff;
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -o-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        position: relative;
        z-index: 2;
}

.hover_shadow:hover {
    box-shadow: 0 0 26px rgba(0,0,0,.3) !important;
}

@media only screen and (max-width: 321px){
    .banner{
        padding-top: 0px;
    }
 }
.f_14_18 {
    font-size: 14px;
    background-color:#333;
    color:#fff;
    line-height: 18px !important;
} 
<!--drop down 2-->
.dropbtn {
    background-color: #03a9f4;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}
 
.dropdown {
    position: relative;
    display: inline-block;
}
 
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #cce6ff;
    min-width: 200px;
    z-index: 1;
}
 
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
 
.dropdown-content a:hover {background-color: white;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: grey;}



.fixed-top {
    position: fixed;
    background-color: #30a9f4;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;